:root {
    --backgroundA1: #FF5F6D;
    --backgroundA2: #FFC371;
    --backgroundB1: #F0F2F0;
    --backgroundB2: #000C40;
    --backgroundC1: #141E30;
    --backgroundC2: #243B55;
    --blue: #00a6fb;
}